<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Style.css">
</head>

<body>
    <header>
        <div class="textos">
            <h1 class="titulo">Del Chef Casero</h1>
            <h3 class="subtitulo">Recetas caseras faciles de preparar</h3>
            <a href="https://twitter.com/luisfdParra1" target="_blank" class="boton">Suscribete</a>
        </div>
        <div class="sesgoabajo"></div>

    </header>
    <main>
        <section class="acerca-de">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Sobre nosotros</h2>
                <h3 class="slogan">Recetas caceras faciles de preparar</h3>
                <p class="parrafo">La cocina italiana se caracteriza por su simplicidad, y muchos platos que tienen
                    únicamente entre cuatro y ocho ingredientes. Los chefs italianos confían sobre todo en la calidad de
                    los ingredientes más que en la propia elaboración. Los ingredientes y los platos varian según la
                    región. Sin embargo, muchos de los platos que originalmente tenían un origen regional, se han
                    extendido y han surgido variaciones por todo el país.
                </p>
                <br><br>
                <p class="parrafo">El queso y el vino son componentes importantes de la cocina, con muchas variaciones y
                    denominaciones de origen controladas. Antiguamente, al no existir la refrigeración, la conservación
                    de alimentos se hacía mediante procesos químicos o fisicos.
                </p>
                <a href="https://twitter.com/luisfdParra1" target="_blank" class="boton">Suscribete</a>

            </div>
        </section>
        <section class="galeria">
            <div class="sesgoarriba"></div>

            <div class="imagenes">
                <img src="receta1.jfif" alt="">
            </div>

            <div class="">
                <!--<h2>Pasta italiana con cebolla caramelizada</h2>-->
            </div>

            <div class="imagenes">
                <img src="receta2.jfif" alt="">
            </div>
            <div class="">
                <!--<h2>salsa boloñesa</h2>-->
            </div>

            <div class="imagenes">
                <img src="receta3.webp" alt="">
            </div>

            <div class="imagenes">
                <img src="receta4" alt="">
            </div>

            <div class="imagenes">
                <img src="receta5" alt="">
            </div>

            <div class="">
                <!--<h2>Ricci al nero di sepia con rape y gambonesa</h2>-->
            </div>
            <div class="sesgoabajo"></div>
        </section>
        <br><br>
        <br><br>



        <h2 class="Receta1">Pasta italiana con cebolla caramelizada, la receta hecha con amor para los que más
            quieres
        </h2>
        <center>
            <div class="imgRH1">
                <img src="RH1.jpg" width="680" height="470" />
        </center>
        <section class="prf1">
            <p class="parrafo1">Indudablemente, preparar un plato de comida es una muestra de cariño, pero algunas
                recetas revelan aún más este sentimiento.
                Tal es el caso de la receta de hoy, un plato de pasta italiana con cebolla caramelizada, que sin
                duda
                demostrará a quienes la reciban,
                todo el amor que sentimos por ellos.

                <br><br>
                He preparado esta receta usando pappardelle, pero podéis hacerla con cualquier otra
                pasta
                larga de vuestro gusto como fetuccini,
                espaguetis, tallarines por poner algunos ejemplos. La combinación del sabor dulzón de la cebolla con
                la
                pasta y el queso parmesano es sorprendente y ya veréis qué
                exito tiene en casa.
            </p>
            <center> <a
                    href="https://www.directoalpaladar.com/recetas-de-pasta/pasta-italiana-cebolla-caramelizada-receta-hecha-amor-para-que-quieres"
                    target="_blank" class="boton">Ver mas</a> </center>
        </section>

        <br><br>

        <h2 class="Receta2">La receta de la salsa boloñesa auténtica</h2>
        <center>
            <div class="imgRH2">
                <img src="receta2.jfif" width="680" height="470" />
        </center>
        <section class="prf2">
            <p class="parrafo2">Hoy vamos a preparar la receta de la salsa boloñesa auténtica también llamada salsa
                bolognese o salsa de ragú,
                la salsa de pasta a base de carne y verduras típica de la ciudad de Bolonia en Italia. Como veréis, no
                se trata de freír carne y añadir
                salsa de tomate frito como vemos a menudo en casas de amigos, comedores y tristemente, también en
                algunos restaurantes.
                <br><br>
                La salsa boloñesa auténtica es una salsa muy fácil de hacer pero requiere tiempo y es algo laboriosa, ya
                que necesita una larga cocción.
                Eso sí, merece la pena porque cualquier parecido en sabor y textura entre hacerla como mandan los
                cánones, o simplemente mezclando carne
                y tomate, es pura coincidencia. Igual ocurre con la salsa a la carbonara auténtica y los sucedáneos con
                nata y bacon con los que nos
                encontramos muchas veces.
            </p>
            <center><a href="https://www.directoalpaladar.com/recetas-de-pasta/la-receta-de-la-salsa-bolonesa-autentica"
                    target="_blank" class="boton">Ver mas</a></center>
        </section>



        <h2 class="Receta3">Ricci al nero di sepia con rape y gambones, una receta italiana para sorprender</h2>
        <center>
            <div class="imgRH3">
                <img src="receta3.webp" width="680" height="520" />
        </center>
        <section class="prf3">
            <p class="parrafo3">Hoy quiero proponeros una receta de pasta ideal para sorprender.
                Se trata de estos ricci al nero di sepia con rape y gambones, que con su textura al dente y su salsa
                basada en el pescado os ayudará a variar en vuestro
                recetario de pasta, más acostumbrado a las salsas habituales.
                <br><br>
                Esta variedad de pasta artesana la podéis sustituir por fusilli, -ya sean negros de tinta de calamar o
                los habituales amarillos o los tricolor-
                pero esta variedad de pasta que he usado me ha cautivado por su textura y calidad.
            </p>
            <center><a
                    href="https://www.directoalpaladar.com/recetas-de-pasta/ricci-al-nero-di-sepia-con-rape-y-gambones-receta-italiana-para-sorprender"
                    target="_blank" class="boton">Ver mas</a></center>
        </section>

    <!--cuadro de comentarios-->
        <section id="app">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="comment">
                            <p v-for="items in item" v-text="items"></p>
                        </div>
                        <!--End Comment-->
                    </div>
                    <!--End col -->
                </div><!-- End row -->
                <div class="row">
                    <div class="col-6">
                        <textarea type="text" class="input" placeholder="Escribe un comentario" v-model="newItem"
                            @keyup.enter="addItem()"></textarea>
                        <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Comentar
                            </button>
                    </div><!-- End col -->
                </div>
                <!--End Row -->
            </div>
            <!--End Container -->
        </section><!-- end App -->
   <!--FIN cuadro de comentarios-->

        <section class="mienbros">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Nuestro equipo</h2>
                <h3 class="slogan">Conoce a nuestro equipo</h3>
                <div class="cards">
                    <div class="card">
                        <img src="Miembro1.jpeg" alt="">
                        <h4>Luis Parra</h4>

                    </div>
                    <div class="card">
                        <img src="Miembro2.jpeg" alt="">
                        <h4>Fernando Rodriguez</h4>

                    </div>
                    <div class="card">
                        <img src="Miembro3.jpeg" alt="">
                        <h4>Andres Guzman</h4>

                    </div>

                </div>


            </div>

        </section>
        <section class="fondo">
            <div class="contenedor">
                <h2 class="titulo-patrocinadores">Nuestros clientes</h2>
                <h3 class="subtitulo-patrocinadores">conoce algunos de nuestros clientes</h3>
                <div class="clientes">
                    <div class="cliente"><img src="cliente1.jpeg" alt=""></div>

                    <div class="cliente"><img src="cliente2.jpeg" alt=""></div>

                    <div class="cliente"><img src="cliente3.jpeg" alt=""></div>
                </div>
                <h3 class="subtitulo-cliente especial">y muchos mas clientes</h3>
            </div>
            <div class="sesgoabajo-unico"></div>
        </section>
    </main>
    <footer>
        <div class="contenedor">
            <h2 class="titulo-footer">Contactanos</h2>
            <h3 class="subtitulo-footer">Lo apreciariamos mucho</h3>
            <div class="footer">
                <form action="https://testapi.omarcardona.com" method="post">
                    <input type="text" name="Nombre ingresado" id="Nombre" placeholder="Nombre">
                    <input type="email" name="Email ingresado" id="Email" placeholder="Email">
                    <textarea name="Comentario ingresado" id="Comentario ingresado" cols="30" rows="10" placeholder="Ingrese su mensaje..."></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </footer>
</body>

</html>